<div class="login row">
    <div class="col-md-6 logincard">

        <form class="form login-form">
            <div class="login-head">
                <h2>Login</h2>
            </div>
            <div class="form-group email">
                <label for="email-login">Email</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group password">
                <label for="password-login">Password</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group submitbtn">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="hidderbtn">
                <button id="loginhidderbtn" value="login">Sign Up Instead!</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 signcard">
        <form class="form signup-form">
            <div class="login-head">
                <h2>Signup</h2>
            </div>
            <div class="form-group namez">
                <label for="name-signup">Name</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group email">
                <label for="email-signup">Email</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group password">
                <label for="password-signup">Password</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group signupbtn">
                <button class="btn btn-primary" type="submit">Signup</button>
            </div>
            <div class="hidderbtn">
                <button id="signuphidderbtn" value="sign">Login Instead!</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/hidder.js"></script>