body {
    background-color: rgb(210, 240, 229);
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.containerone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.headerone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 27, 8);
    color: rgb(210, 240, 229);
    width: 100%;
}

.headerone button {
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
    margin-left: 30px;
    padding: 15px;
    background-color: rgb(210, 240, 229);
    color: rgb(56, 27, 8);
    border-radius: 5%;
    box-shadow: 5px 5px rgb(176, 189, 184);
    border-style: none;
}

.headerone button:active {
    box-shadow: 4px 4px #666;
    transform: translateY(3px);
    transform: translateX(3px);
}

#navone {
    color: rgb(210, 240, 229);
}

#navone a {
    color: rgb(210, 240, 229);
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}

#navone a:active {
    color: rgb(150, 174, 165)
}

.blogcontainer {
    display: flex;
    flex-direction: column;
}

.homepage {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(210, 240, 229);
    color: rgb(56, 27, 8);
    border-style: solid;
    border-color: rgb(56, 27, 8);
    border-width: 3px;
    border-radius: 5px;
}

.homepagehead {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(56, 27, 8);
    color: rgb(176, 189, 184);
}

.homepagehead h2 {
    margin: 10px;
}

.homepagehead a {
    color: rgb(176, 189, 184);
    text-decoration: none;
    margin: 10px;
}

.homepagehead p {
    margin: 10px;
}

.homepagebody p {
    margin: 15px;
}

.login {
    display: flex;
    flex-direction: row;
}

.profile {
    display: flex;
    flex-direction: row;
}

.login-form,
.signup-form,
.makepost-form,
.makecomment-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(210, 240, 229);
    color: rgb(56, 27, 8);
    border-style: solid;
    border-color: rgb(56, 27, 8);
    border-width: 3px;
    border-radius: 5px;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
}

.email,
.password,
.namez,
.post-title,
.post-body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.login input,
.makepost-form input {
    border-radius: 5px;
    border-style: hidden;
    margin: 5px;
    padding: 8px;
}

.login label,
.makepost-form label,
.makecomment-form label {
    margin-left: 5px;
}

.submitbtn,
.signupbtn,
.cancelbtn,
.postupdatebtn,
.postdeletebtn {
    display: flex;
    margin: 5px;
}

.signupbtn button,
.submitbtn button,
.cancelbtn button,
.postdeletebtn button,
.postupdatebtn button,
.cancelbtn a {
    display: flex;
    border-radius: 5px;
    border-style: hidden;
    margin: 5px;
    padding: 8px;
    background-color: rgb(176, 189, 184);
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: rgb(56, 27, 8);
}

.signupbtn button:active,
.submitbtn button:active,
.cancelbtn button:active,
.postupdatebtn button:active,
.postdeletebtn button:active,
.cancelbtn a:active {
    background-color: rgb(131, 141, 137);

}

.login h2,
.post-head h2 {
    font-size: 18px;
    margin: 10px;
}

.login-head,
.post-head {
    background-color: rgb(56, 27, 8);
    color: rgb(210, 240, 229);
}

.hidderbtn {
    display: flex;
    margin: 5px;
    margin-left: 10px;
}

.hidderbtn button {
    border-style: hidden;
    background-color: rgb(210, 240, 229);
    color: rgb(102, 110, 107);
}

.hidderbtn button:active {
    color: rgb(136, 163, 154);
}

.signcard,
.makepostcard {
    display: none;
    width: 100%;
}

.logincard,
.log-list {
    display: flex;
    width: 100%;
}

.newpostbtn {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 10%;
}

.newpostbtn button {
    display: flex;
    background-color: rgb(56, 27, 8);
    color: rgb(210, 240, 229);
    border-style: hidden;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    font-size: 20px;
    z-index: 1;
}

.newpostbtn button:active {
    background-color: rgb(98, 48, 14);
}

.makepost-form textarea,
.makecomment-form textarea {
    border-radius: 5px;
    border-style: hidden;
    margin: 5px;
    padding: 8px;
}

.blog-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.log-list {
    flex-direction: column;
    width: 100%;
}

.myblogpost {
    display: flex;
    flex-direction: column;
    background-color: rgb(102, 110, 107);
    margin: 10px;
    border-radius: 10px;
}

.myblogcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.myblogcontainer2 {
    display: flex;
    flex-direction: row;
}

.myblogpost a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.myblogpost p {
    color: whitesmoke;
    margin: 10px;
    align-self: center;
}

.makecommentcard {
    display: flex;
    width: 100%;
}

.comments {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(210, 240, 229);
    color: rgb(56, 27, 8);
    border-bottom: solid;
    border-color: rgb(56, 27, 8);
    border-width: 3px;
    border-radius: 5px;
}

.commentinfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.text-commentz {
    margin-left: 10px;
}

#editbtn {
    font-size: 15px;
    align-self: center;
}

.makeeditcard {
    display: flex;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0%;
    background-color: rgb(56, 27, 8);
    color: rgb(210, 240, 229);
    width: 100%;
    justify-content: center;
    left: 0%;
    height: 38px;
}